:root {
  --soft-blue: #d4ecdd;
  --blue2: #81ccf1;
  --blue3: #345b63;
  --blue4: #152d35;
  --blue5: #112031;
  --yellow: #efc66a;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  height: 100vh;
}
.container {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
}  
.item1 {
    grid-column: 1 / 2;
    grid-row: 5 / 10;
    background-color: var(--blue3);
}
.item2 {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
    background-color: var(--soft-blue);
    opacity: 30%;
}
.item3 {
    grid-column: 5 / 8;
    grid-row: 6 / 11;
    background-color: var(--blue3);
}
.item4 {
    grid-column: 6 / 9;
    grid-row: 5 / 8;
    border: 4px solid var(--blue4);
}
.item5 {
    grid-column: 7 / 10;
    grid-row: 3 / 9;
    border: 4px solid var(--blue5);
}
.item6 {
    display: grid;
    grid-column: 7 / 10;
    grid-row: 3 / 5; 
    align-items: center;
    justify-items: center;
    font-size: 4rem; 
    font-weight: 700;
}
.item7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: var(--blue5);
    opacity: 50%;
}
.item8 {
    display: grid;
    grid-column: 3 / 5;
    grid-row: 4 / 5; 
    align-items: center;
    justify-items: center;
    font-size: 2.5rem; 
}
.item8 a{
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.item8 a:hover{
    color:gray;
    text-decoration: underline;
}
.item9 {
    display: grid;
    grid-column: 8 / 11;
    grid-row: 10 / 11; 
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 1.6rem; 
}
.item9 a{
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.item9 a:hover{
    color: blue;
    text-decoration: underline;
}
/*----------------------------------------- Media Queries section*/
/*Mobile first usa min-width = desde*/
/*Desktop first usa max-width = hasta*/
@media screen and (max-width: 710px) {
    .item6 {
        grid-column: 1 / 11;
        grid-row: 1 / 2;
    }
    .item8 {
        grid-column: 1 / 11;
        grid-row: 2 / 3;
    }
}
@media screen and (max-width: 570px) {
    .item9 {
        grid-column: 1 / 11;
        grid-row: 10 / 11;
    } 
}